<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Sidan hittades inte</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <div class="not-found">
                <h1>404 - Sidan kunde inte hittas</h1>
                <p>Tyvärr, den sidan finns inte.</p>
                <a href="/">Återgå till startsidan</a>
            </div>
        </LayoutView>
    </NotFound>
</Router>